@media screen and (min-width: 900px){
	.container{
		width: 900px;
		margin: auto;
	}
}

*{
	font-family: 'Sahitya', serif;
	background-image: url("background.png");
}

h1{
	margin-top: 10px;
	margin-bottom: 10px;
	
}
h4{
	font-family: 'Sahitya', serif;
	margin-top: 5px;
	margin-bottom: 5px;
}

textarea,input[type=text],input[type=password]{
	background: white;
}

.container{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	/*padding-right: 15px;
	padding-left: 15px;*/
	padding-top: 10px;
	padding-bottom: 30px;
}

.all{
	width: 100%;
}

.half{
	width: 50%;
}

.quarter{
	width: 25%;
}

.third{
	width: 33.3333%;
}

.three-quarter{
	width: 75%
}

.title{
	font-size: 2em;
}

.summary{
	font-size: 1.25em;
	margin-top:0px;
}

.code{
	background: #e6e6e6;
	font-family: 'Source Code Pro', monospace;
	
}

.comment{
	font-size: 1.2em
}

.delete-button,.edit-button,.like-button{
	font-size: 0.9em;
	padding: 0px;
}

.submit-button,.comment-button{
	font-size: 0.9em
}

.text-right{
	text-align: right;
}

.text-center{
	text-align: center;
}



