<!-- {% macro input(name, value='', type='text') -%}
    <input type="{{ type }}" value="{{ value|e }}" name="{{ name }}">
{%- endmacro %} -->

{% macro post(e) -%}

<section class="half title"><a href="/{{e.key().id()}}">{{e.title}}</a></section> 
<section class="half text-right">
	Posted By <a href="/postsby/{{e.posted_by}}">{{e.posted_by}}</a><br>
	{{e.created.strftime('%b %d, %Y')}}
</section> 
<section id="summary">
	{{e.summary}}
</section>

<pre class="all" id="code">{{e.code}}</pre>

<!-- {% if e.posted_by == user.username %}
<a href="/newpost"></a>

{% endif %} -->
<hr class="all">

{%- endmacro %}


{% macro example(e) -%}
<section>{{e.summary}}</section>
{%- endmacro %}